@{
    ViewData["Title"] = "Home Page";
}
@*

<head>
    <link rel="stylesheet" href="StyleSheet.scss" type="text/css" />
</head>

<body>
    <div class="left">
        <ul class="nav">
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Profile</a></li>
        </ul>
    </div>
</body>*@


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@